@font-face { 
  font-family: "ImpactLabel";
  src: url(fonts/ImpactLabelReversed/ImpactLabelReversed.eot?) format("eot"), 
    url(fonts/ImpactLabelReversed/ImpactLabelReversed.woff) format("woff"), 
    url(fonts/ImpactLabelReversed/ImpactLabelReversed.ttf) format("truetype");
}
@font-face { 
  font-family: "Bohemian";
  src: url(fonts/Bohemiantypewriter/Bohemiantypewriter.eot?) format("eot"), 
    url(fonts/Bohemiantypewriter/Bohemiantypewriter.woff) format("woff"), 
    url(fonts/Bohemiantypewriter/Bohemiantypewriter.ttf) format("truetype");
}
@font-face { 
  font-family: "AmericanTypewriter";
  src: url(fonts/AmericanTypewriter/AmericanTypewriter.eot?) format("eot"), 
    url(fonts/AmericanTypewriter/AmericanTypewriter.woff) format("woff"), 
    url(fonts/AmericanTypewriter/AmericanTypewriter.ttf) format("truetype");
}
@font-face { 
  font-family: "AmericanTypewriter";
  src: url(fonts/AmericanTypewriterMedium/AmericanTypewriterMedium.eot?) format("eot"), 
    url(fonts/AmericanTypewriterMedium/AmericanTypewriterMedium.woff) format("woff"), 
    url(fonts/AmericanTypewriterMedium/AmericanTypewriterMedium.ttf) format("truetype");
    font-weight: 500;
}
@font-face { 
  font-family: "AmericanTypewriter";
  src: url(fonts/AmericanTypewriterBold/AmericanTypewriterBold.eot?) format("eot"), 
    url(fonts/AmericanTypewriterBold/AmericanTypewriterBold.woff) format("woff"), 
    url(fonts/AmericanTypewriterBold/AmericanTypewriterBold.ttf) format("truetype");
  font-weight: 600;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  background-color: #000656;
  overflow-x: hidden;
  font-family: "Bohemian";
}
h1, h2, h2, .-title {
  font-family: "ImpactLabel";
}

section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.body_inner {
  width: 100vw;
  overflow: hidden;
}
.page_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  transform-origin: 0 0;
}
.page_inner {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.bg {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #000656;
  background-repeat: repeat;
  background-position: 0 0;
  box-shadow: inset 0 0 200px #000656;
}
.bg.-bg1 {
  background-image: url(img/bg1.png);
}
.bg.-bg2 {
  background-image: url(img/bg2.png);
}
.bg.-bg3 {
  background-image: url(img/bg3.png);
}
.bg.-bg4 {
  background-image: url(img/bg4.png);
}
.section_inner {
  position: relative;
  min-width: 100vw;
  display: flex;
   align-items: flex-start;
  justify-content: center;
  padding: 0 100px;
}

.section_inner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 7px;
  height: 10px;
  background-color: #fff;
}
.section_inner.-noline:before {
  display: none;
}
.section0_inner {
  padding-left: 260px;
  padding-right: 260px;
}

.item0_wrapper {
  position: relative;
  z-index: 1;
  padding-top: 264px;
  background: url(img/img1.png) no-repeat left 60px top,
          url(img/img1.png) no-repeat right 60px top;
}
.item0 {
  position: relative;
  padding: 140px 150px;
  background: url("img/img1.svg") no-repeat left 20px top 10px / 100px,
            #fff url("img/img1.svg") no-repeat right 20px top 10px / 100px;
}
.item0_label, .item1_label {
	font-family: "ImpactLabel";
	display: inline-block;
	font-size: 48px;
	line-height: 1;
	color: #fff;
	background-color: #d0021b;
	padding: 5px;
	margin-bottom: 30px;
	white-space: nowrap;
}

.item0_title {
  font-size: 110px;
  line-height: 1.27;
  letter-spacing: -1.5px;
  color: #4a4a4a; 
  white-space: nowrap;
  margin-bottom: 38px;
}
.item0_author {
  font-family: "AmericanTypewriter";
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #4a4a4a;
}


.item1 {
  position: relative;
  background: url("img/img1.svg") no-repeat left 10px top 10px / 50px,
            #fff url("img/img1.svg") no-repeat right 10px top 10px / 50px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3); 
  min-width: 900px;
}
.flipcard_front .item1 {
  padding: 80px 70px 40px 70px;
}
.flipcard_back .item1 {
  padding: 30px 80px 30px 80px;
}
.item1_info {
  position: absolute;
  right: 12px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(26, 126, 243, 0.5);
  font-size: 36px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  transition: background-color 0.5s;
}
.item1_info:hover {
  background-color: rgba(26, 126, 243, 0.8);
  cursor: pointer;
}
.item1_wrapper {
  position: relative;
  z-index: 1;
}
.flipcard.-type1 .item1_wrapper {
  z-index: 2;
  padding-top: 186px;
  background: url(img/img2.png) no-repeat center top;
}
.flipcard.-type1 .item1 {
  transform: rotate(-1deg);
}
.flipcard.-type2 {
	margin-left: -320px;
}
.flipcard.-type2 .item1_wrapper {
  padding-top: 669px;
  background: url(img/img3.png) no-repeat center top;
}
.flipcard.-type2 .item1 {
  transform: rotate(1deg);
}
.flipcard.-type3 {
	margin-left: -230px; 
}
.flipcard.-type3 .item1_wrapper {
  z-index: 2;
  padding-top: 275px;
  background: url(img/img4.png) no-repeat center top;
}
.flipcard.-type3 .item1 {
  transform: rotate(-1deg);
}
.item1_inner {
  position: relative;
}
.item1_title {
  font-size: 72px;
  line-height: 1;
  letter-spacing: -2.7px;
  color: #4a4a4a; 
  white-space: nowrap;
  transition: color 0.5s;
}
.item1_text {
	font-family: "AmericanTypewriter";
	font-size: 22px;
	line-height: 1.36;
	font-weight: 500;
	color: #4a4a4a;
	margin-bottom: 30px;
/*	white-space: nowrap;*/
}
.item1:hover .item1_title {
  color: #222;
}
.item1_btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item1_btn {
	font-family: "AmericanTypewriter";
	font-size: 22px;
	font-weight: 600;
	line-height: 1.36;
	color: #1a7ef3;
	transition: color 0.5s;
	cursor: pointer;
}
.item1_btn:hover {
	color: #1c86ff;
}

.section_inner.-midline:before {
  top: 50%;
  margin-top: -5px;
}
.item2 {
  background: url("img/img1.svg") no-repeat left 20px center / 50px,
            #fff url("img/img1.svg") no-repeat right 20px center / 50px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3); 
  padding: 50px 100px 100px 100px;
}
.item2_title {
  font-size: 94px;
  line-height: 1;
  letter-spacing: -3px;
  color: #4a4a4a; 
  white-space: nowrap;
}


.item3_wrapper {
  position: relative;
  z-index: 1;
  padding: 0 220px;
  background: url("img/img5.png") no-repeat left center,
          url("img/img6.png") no-repeat right center;
}
.item3_inner {
  background: url("img/img1.svg") no-repeat left 10px top 10px / 50px,
          url("img/img1.svg") no-repeat right 10px top 10px / 50px,
          url("img/img1.svg") no-repeat right 10px bottom 10px / 50px,          
            #fff url("img/img1.svg") no-repeat left 10px bottom 10px / 50px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3); 
}
.item3 {
  position: relative;
  padding: 95px 65px 63px 85px; 
}
.item3_text {
  font-size: 36px;
  line-height: 1.28;
  letter-spacing: -1px;
  color: #9b9b9b;
  margin-bottom: 15px;  
}
.item3_author {
  font-size: 24px;
  line-height: 1.54;
  letter-spacing: -0.8px;
  color: #4a4a4a; 
}
.item3.-quote:after {
  content: "";
  position: absolute;
  left: 70px;
  top: 58px;
  width:74px;
  height: 65px;
  background: url(img/img3.svg) no-repeat 0 0 / contain;    
}
.item3.-loupe:after {
  content: "";
  position: absolute;
  left: 50px;
  top: 30px;
  width: 148px;
  height: 148px;
  background: url(img/img8.svg) no-repeat 0 0 / contain; 
}
.item3.-type1 {
  margin-left: 300px;
  margin-top: -60px;
}


.item4 {
  background: url("img/img1.svg") no-repeat left 10px center / 50px,
            #fff url("img/img1.svg") no-repeat right 10px center / 50px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3); 
  padding: 60px 80px 100px 80px;
}
.item4_wrapper {
  position: relative;
  z-index: 1;
}
.item4_title {
  font-size: 72px;
  line-height: 1.11;
  color: #4a4a4a;
  margin-bottom: 32px;
}

.item4_text {
  font-family: "AmericanTypewriter";
  font-size: 24px;
  line-height: 1.42;
  color: #4a4a4a;
}

.item5 {
  
}
.item5_body {
  position: relative;
  margin-top: 72px;
}
.item5_body img {
  display: block;
}
.item5_text1 {
  display: inline-block;
  position: absolute;
  font-family: "AmericanTypewriter";
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  opacity: 0.4;
}
.item5_text2 {
  display: inline-block;
  position: absolute;
  font-family: "AmericanTypewriter";
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}
.item5_text3 {
  display: inline-block;
  position: absolute;
  font-family: "AmericanTypewriter";
  font-size: 33px;
  line-height: 1;  
  font-weight: 600;
  color: #000656;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  white-space: nowrap;
}
.item5_text3.-white {
  color: #fff;
}
.item5_title {
  font-size: 42px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  margin-top: 22px;
}
.item9_label {
  font-family: "ImpactLabel";
  display: inline-block;
  font-size: 24px;
  line-height: 1.33;
  color: #fff;
    background-color: #d0021b;
    padding: 5px;
    margin-bottom: 15px;
}

#section9 .section_inner {
  min-width: 0;
  padding: 0 250px 0 150px;
}
.item9 {
  background: url("img/img1.svg") no-repeat left 5px top 5px / 50px,
            #fff url("img/img1.svg") no-repeat right 5px top 5px / 50px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3); 
  padding: 60px 20px 40px 20px;
  cursor: pointer;
}
.item9_wrapper {
  position: relative;
  z-index: 1;
  padding-top: 90px;
  background: url(img/img8.png) no-repeat center top;
}
.item9_title {
  font-size: 36px;
  line-height: 1;
  letter-spacing: -1px;
  color: #4a4a4a; 
  white-space: nowrap;
  margin-bottom: 15px;
}
.item9_text {
  font-family: "AmericanTypewriter";
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: -0.1px;
  color: #4a4a4a;
  white-space: nowrap;
}
#section10 .section_inner {
	padding-left: 0;
}
.item10 {
  position: relative;
}
.item10.-type1 {
  margin-top: 440px;
  margin-left: -200px;
}
.item10.-type2 {
  margin-left: -200px;
}

.item10.-border_r:after {
	content: "";
	position: absolute;
	right: 100px;
	top: 100%;
	width: 10px;
	height: 100px;
	background-color: #fff;
}
.item10.-border_l:before {
	content: "";
	position: absolute;
	left: 100px;
	top: 100%;
	width: 10px;
	height: 100px;
	background-color: #fff;
}

.item10 img {
  display: block;
  height: 340px;
}
.item10_label {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-family: "ImpactLabel"; 
  font-size: 48px;
  line-height: 1;
  color: #fff;
}

.item11 {
  position: relative;
  z-index: 1;
  background: url("img/img1.svg") no-repeat left 20px center / 50px,
            #fff url("img/img1.svg") no-repeat right 20px center / 50px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3); 
  padding: 38px 130px 53px 130px;
  cursor: pointer;
}
.item11_title {
  font-size: 36px;
  line-height: 1.39;
  letter-spacing: -1.1px;
  color: #4a4a4a; 
  white-space: nowrap;
  margin-bottom: 19px;
}
.item11_text {
  font-family: "AmericanTypewriter";
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: -0.7px;
  color: #4a4a4a;
}

.item12 {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 0 75px;
  margin-top: 80px;
}
.item12_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.item12.-type1 {
  padding-right: 180px;
}
.item12_text1 {
  font-size: 48px;
  line-height: 53px;
  min-height: 106px;
  color: #fff;
  margin-bottom: 45px;
}

.item12 img {
  width: 415px;
  margin-bottom: 20px;
}
.item12_text2 {
  font-family: "ImpactLabel"; 
  font-size: 48px;
  line-height: 1;
  text-align: left;
  letter-spacing: -4px;
  color: #fff;
  margin-bottom: 30px;
  white-space: nowrap;
}
.item12_text3 {
  display: inline-block;
  font-family: "ImpactLabel"; 
  font-size: 72px;
  line-height: 86px;
  background-color: #fff;
  color: #0b115d;
  white-space: nowrap;
}
.item12_text3.-red {
  background-color: #d0021b;
  color: #fff;
}

#section16 .section_inner {
  margin-top: 10px;
}
#section17 {
  /*padding-right: 50vw;*/
}
.item17 {
  position: relative;
  margin-top: 73px;
  padding-bottom: 73px;
}
.item17 img {
  display: block;
}
.item17_text2 {
  display: inline-block;
  position: absolute;
  font-family: "ImpactLabel";
  font-size: 33px;
  line-height: 40px;
  background-color: #fff;
  color: #0b115d;
}
.item17_text3 {
  position: absolute;
  display: inline-block;
  text-align: center;
}
.item17_text31 {
  font-family: "AmericanTypewriter";
  font-size: 22px;
  line-height: 1;
  letter-spacing: -0.2px;
  color: #fff;
}

.item17_text32 {
  font-family: "AmericanTypewriter";
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: #fff;
}
.item17_text4 {
  display: inline-block;
  font-family: "AmericanTypewriter";
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  position: absolute;
}
.item17_text5 {
  display: inline-block;
  font-family: AmericanTypewriter;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  letter-spacing: 0.04em;
}
.item17_text5.-white {
  color: #fff;
}

.item19 {
  position: relative;
  z-index: 1;
  background: url(img/img1.svg) no-repeat left 20px center / 50px,
  #fff url(img/img1.svg) no-repeat right 20px center / 50px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 80px 130px;
  cursor: pointer;  
}
.item19_text {
  font-size: 64px;
  line-height: 1.56;
  color: #4a4a4a;
}
.item20 {
  position: relative;
  z-index: 1;
  background: url(img/img1.svg) no-repeat left 20px center / 50px,
  #fff url(img/img1.svg) no-repeat right 20px center / 50px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 80px 130px;
  cursor: pointer;  
}
.item20_list {
  padding: 0;
  margin: 0;
}
.item20_list li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 1.4;
  color: #4a4a4a;
  margin-bottom: 1em;
}


.-bgblur {
	position: relative;
	background: linear-gradient(to right, rgba(0,6,86,0) 0%, rgba(0,6,86,0.7) 5%, rgba(0,6,86,0.7) 95%, rgba(0,6,86,0) 100%);
}
.-bgblur:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	height: 50px;
	background: linear-gradient(to top, rgba(0,6,86,0.7), rgba(0,6,86,0));
}
.-bgblur:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 50px;
	background: linear-gradient(to bottom, rgba(0,6,86,0.7), rgba(0,6,86,0));
}

.border0 {
  position: absolute;
  left: 0;
  right: -5px;
  top: 7px;
  height: 0;
  border-top: 10px solid #fff;
  border-right:  10px solid #fff;
  border-radius: 0 20px 0 0;
}
.border1 {
  position: absolute;
  left: -5px;
  right: 50%;
  bottom: 100%; 
  margin-bottom: -17px;
  height: 0;
  border-bottom: 10px solid #fff;
  border-left: 10px solid #fff;
  border-radius: 0 0 0 20px;
}
.border2 {
  position: absolute;
  left: 50%;
  right: -5px;
  top: 7px;
  height: 0;
  border-top: 10px solid #fff;
  border-right:  10px solid #fff;
  border-radius: 0 20px 0 0;
}
.border3 {
  position: absolute;
  left: -5px;
  right: 0;
  top: 0;
  bottom: 50%;
  margin-bottom: -5px;
  border-left: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-radius: 0 0 0 20px;
}
.border4 {
  position: absolute;
  left: 0;
  right: -5px;
  top: 0;
  bottom: 50%;
  margin-bottom: -5px;
  border-right: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-radius: 0 0 20px 0;
}
.border5 {
  position: absolute;
  left: -5px;
  right: 0;
  top: 7px;
  height: 0;
  border-left: 10px solid #fff;
  border-top: 10px solid #fff;
  border-radius: 20px 0 0 0;
}
.border6 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 10px;
  margin-top: -5px;
  background-color: #fff;
}
.border7 {
  position: absolute;
  right: -5px;
  bottom: 170px;
  height: 180px;
  width: 105px;
  border-right: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-radius: 0 0 20px 0;
}
.border8 {
  position: absolute;
  left: -5px;
  right: 0;
  top: 50%;
  margin-top: -5px;
  height: 50px;
  border-left: 10px solid #fff;
  border-top: 10px solid #fff;
  border-radius: 20px 0 0 0;
}
.border9 {
    position: absolute;
    top: 7px;
    height: 30px;
    left: 20px;
    right: 20px;    
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #fff;
    border-radius: 20px 20px 0 0;
}
.border10 {
    position: absolute;
    top: 27px;
    bottom: 50%;
    left: -5px;
    width: 35px;    
    border-width: 0 10px 10px 0;
    border-style: solid;
    border-color: #fff;
    border-radius: 0 0 20px 0;
}
.border11 {
    position: absolute;
    top: 27px;
    bottom: 50%;
    right: -5px;
    width: 35px;    
    border-width: 0 0 10px 10px;
    border-style: solid;
    border-color: #fff;
    border-radius: 0 0 0 20px;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 7deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 2deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -2deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

@keyframes swing-gentle {
  20% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 1deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing-gentle-softer {
  20% {
    transform: rotate3d(0, 0, 1, 4deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -2deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 1deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.typewriter {
  color: #BFBFBF;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


.swing-gentle {
  transform-origin: top center;
  animation-name: swing-gentle;
}
.flipcard.swing-gentle {
  animation-name: swing-gentle-softer;
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.corner {
  width: 20px;
  height: 20px;
}
.corner.-lb {
  border-left: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-radius: 0 0 0 20px;
}


.flipcard {
  position: relative;
  perspective: 900px;
  z-index: 1;
}

.flipcard.-top {
  z-index: 2;
}
.flipcard.-active .flipcard_front {
	transform: rotateY(180deg);
}
.flipcard.-active .flipcard_back {
	transform: rotateY(0deg);
}
.flipcard .flipcard_back {
	transform: rotateY(-180deg);
}
.flipcard_front {
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in;
	backface-visibility: hidden;
}
.flipcard_back {
	transition: all 0.5s ease-in;
	backface-visibility: hidden;  
} 

.spacer {
  height: 10px;
  background-color: #fff;
}


.Rectangle-18-Copy {
  width: 32670px;
  height: 30px;
  background-image: linear-gradient(to top, rgba(0, 6, 86, 0), #000656);
}

.Rectangle-18-Copy-2 {
  width: 108.5px;
  height: 700px;
  opacity: 0.5;
  background-image: linear-gradient(to right, rgba(0, 6, 86, 0), rgba(0, 6, 86, 0.9) 50%, rgba(0, 6, 86, 0));
}
