
body {
    font-family: 'brandon-grotesque' !important;
    color: #ffffff !important;
    /*gradient*/
    background: #000000;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000000, #00098a);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000, #00098a);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000, #00098a);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000, #00098a);
    /* Standard syntax */
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.bold_true {
    font-weight: bold;
}

#sec-one {
    padding-top: 223px;
    padding-bottom: 185px;
}

#sec-one p {
    font-style: italic;
    font-size: 12px;
    margin-top: 139px;
    margin-bottom: 0px;
}

#sec-one img {
    margin-top: 25px;
    width: 72px;
}

#footertext {
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
}

#footerlight {
    font-style: normal;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 30px;
}

@media (min-width:992px) {
    .owner-name {
        font-size: 48px;
        font-style: normal;
        font-weight: 390;
        line-height: normal;
        margin: 0;
    }
}

@media (max-width:500px) {
    .owner-name {
        font-size: 28px;
        font-style: normal;
        font-weight: 390;
        line-height: normal;
        margin: 0;
    }
}

.vert-border {
    border-style: dotted;
    border-image-slice: 33% 33%;
    border-image-repeat: round;
    border-width: 0 7px 0 0;
    margin: auto;
    width: 0px;
    border-image-source: url('../../assets/images/dots.svg');
}

.dot-border-uper {
    border-style: dotted;
    border-image-source: url('../../assets/images/dots.svg');
    border-image-slice: 33% 33%;
    border-image-repeat: round;
    border-width: 8px 8px 0 8px;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.dot-border-bottom {
    border-style: dotted;
    border-image-source: url('../../assets/images/dots.svg');
    border-image-slice: 33% 33%;
    border-image-repeat: round;
    border-width: 0px 8px 8px 8px;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.nice-border {
    border-style: dotted;
    border-image-source: url('../../assets/images/dots.svg');
    border-image-slice: 33% 33%;
    border-image-repeat: round;
    border-width: 0 8px 0 0;
    /*opacity: 0.25;*/
}

#sec-two div:nth-child(1) .vert-border {
    height: 200px;
}

.vert-border-third {
    height: 8px;
    margin-top: 31px;
    margin-bottom: 31px;
}

#sec-two .vert-border-forth {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 540px !important;
}

.max-width-mid {
    max-width: 432px;
    margin: auto;
}

.max-widh-big {
    max-width: 700px;
    margin: auto;
}

.max-widh-big-mid {
    max-width: 570px;
    margin: auto;
}

.last .vert-border-first {
    height: 580px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.last .vert-border-second {
    height: 120px;
    margin-top: 20px;
}

#sec-two {
    margin-bottom: 220px;
}

.last-row a {
    font-style: normal;
    font-stretch: normal;
    font-size: 36px;
    text-decoration: underline;
    color: white;
}

.font-small {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 330;
    line-height: normal;
}

.focus-container {
    max-width: 1000px;
    margin: auto;
    border-style: dotted;
    border-image-source: url('../../assets/images/dots.svg');
    border-image-slice: 33% 33%;
    border-image-repeat: round;
    border-width: 8px;
    height: auto;
    margin-top: 4px;
}

.title {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#scrollBottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    -webkit-transition: opacity 0.5s;
    /* Safari */
    transition: opacity 0.5s;
    -webkit-transition: visibility 0.5s;
    /* Safari */
    transition: visibility 0.5s;
}

#scrollBottom img {
    cursor: pointer;
    width: 60px;
}

.btn-disappear {
    opacity: 0;
    visibility: hidden;
}

.pdf-container {
    display: flex;
    justify-content: center;
}

.pdf-iframe {
    width: 100%;
    height: 500px;
    display: none;
}

.pdf-links {
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal iframe {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Add the zoom-in animation to the modal */
.modal.show {
    animation: zoomIn 0.5s;
}

/* Define the zoom-in animation */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.mt-20 {
    margin-top: 20px;
}

.h-50 {
    height: 50px;
}

.h-200 {
    height: 200px;
}

.title-bg-color {
    background-color: #00032a;
}

.title-bg-color-preview {
    background-color: #00054e;
}

.color-black {
    color: #000000;
}

.font-bold {
    font-weight: 700 !important;
}

.preview {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image-container {
    position: relative;
    transition: transform 0.3s, filter 0.3s;
    margin: 45px 30px 30px 30px;
}

.image-container img {
    width: 100%;
}

.preview:hover .image-container {
    transform: scale(1.1);
    filter: brightness(0.7);
}

@media(max-width:1280px) {
    .focus-container {
        margin: auto;
    }
}

@media(max-width:767px) {
    .title-width {
        max-width: 225px;
        margin-right: auto;
        margin-left: auto;
    }

    .title-height {
        margin-top: -20px;
    }

    .title,
    h2 {
        font-size: 28px;
        margin: 0px!important;
    }

    h3 {
        font-size: 14px;
    }

    .last-row a {
        font-size: 22px;
    }

    .focus-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .content {
        color: #FFF;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .mobile-vector {
        display: none;
    }

    .content-mobile {
        padding-top: 40px;
    }

    .content-border {
        margin-bottom: 43px;
    }

    .vector-height {
        height: 100px;
    }

    a {
        color: #FFF !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 600 !important;
        line-height: normal;
        text-decoration-line: underline !important;
        cursor: pointer;
    }
}

@media(max-width:480px) {
    .title-width {
        max-width: 210px;
        margin-right: auto;
        margin-left: auto;
    }

    .title-height {
        margin-top: -20px;
    }

    .last-row a {
        font-size: 16px;
    }

    .focus-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .content-border {
        margin-bottom: 43px;
    }

    .vector-height {
        height: 100px;
    }

    .content-2 {
        font-size: 12px;
        font-style: normal;
        font-weight: 390;
        line-height: 15px;
        /* 130% */
    }

    .content-3 {
        text-align: center;
        font-size: 12px;
        font-style: normal;
        line-height: normal;
    }

    a {
        color: #FFF !important;
        font-size: 12px;
        font-style: normal;
        font-weight: 600 !important;
        line-height: normal;
        text-decoration-line: underline !important;
        cursor: pointer;
    }
}

@media(min-width:768px) {
    .title-width {
        max-width: 278px;
        margin-right: auto;
        margin-left: auto;
    }

    .title-height {
        margin-top: -25px;
    }

    .title,
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
    }

    .last-row a {
        font-size: 28px;
    }

    .content {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .content-border {
        margin-bottom: 43px;
    }

    .vector-height {
        height: 100px;
    }

    .content-2 {
        font-size: 15px;
        font-style: normal;
        font-weight: 390;
        line-height: 26px;
        /* 130% */
    }

    .content-3 {
        text-align: center;
        font-size: 15px;
        font-style: normal;
        line-height: normal;
    }

    a {
        color: #FFF !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 600 !important;
        line-height: normal;
        text-decoration-line: underline !important;
        cursor: pointer;
    }

    .content-mobile {
        padding-top: 50px;
    }
}

@media(min-width:992px) {
    .title-width {
        max-width: 335px;
        margin-right: auto;
        margin-left: auto;
    }

    .preview-width {
        max-width: 358px;
        margin-right: auto;
        margin-left: auto;
    }

    .title-height {
        margin-top: -30px;
    }

    .title,
    h2 {
        font-size: 36px !important;
        font-weight: 700;
    }

    h3 {
        font-size: 22px;
    }

    .content {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .content-border {
        margin-bottom: 83px;
    }

    .vector-height {
        height: 200px;
    }

    .content-2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        line-height: 26px;
        /* 130% */
    }

    .content-3 {
        text-align: center;
        font-size: 22px;
        font-style: normal;
        line-height: normal;
    }

    a {
        color: #FFF !important;
        font-size: 21px;
        font-style: normal;
        font-weight: 600 !important;
        line-height: normal;
        text-decoration-line: underline !important;
        cursor: pointer;
    }
}

.dotted-section-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 330;
    line-height: normal;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    color: black;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.prev-btn {
    width: 119px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 52px;
    background: #FFF;
}

.prev-btn:hover {}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.m-0 {
    margin: 0 !important;
}

.gap-10 {
    gap: 10px;
}

.gap-16 {
    gap: 16px;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

@media (min-width:500px) {
    .tap-title {
        display: none;
    }
}

@media (max-width:499px) {
    .image-container {
        margin-bottom: 5px;
    }
    .tap-title {
        text-align: center;
        font-size: 12px;
        font-style: italic;
        font-weight: 390;
        line-height: normal;
    }
}

@media (min-width: 501px) {
    .extra-slide {
        display: none;
    }
}

.extra-slide {
    margin-top: -55%;
}

dotted-container {
    border: 4px dotted #FFFFFF40;
    border-top-width: 0;
    display: block;
    margin-top: 35px!important;
    max-width: 1000px;
    margin: auto;
    height: auto;
    margin-top: 4px;
}

dotted-title {
    display: flex;
    align-items: center;
    height: 4px;
    margin: 0 2px;
}

dotted-title>span {
    padding: 0 35px;
    font-size: 50px;
    margin-bottom: 12px;
}

dotted-title:after,
dotted-title:before {
    border-top: 4px dotted #FFFFFF40;
    content: '';
    display: inline-block;
    height: 0;
    flex: 1;
}

@media (max-height: 380px) {
    .modal-dialog {
        width: 415px!important;
        margin: auto!important;
    }
}

@media (max-height: 400px) and (min-height: 381px) {
    .modal-dialog {
        width: 550px!important;
        margin-top: 10px!important;
        margin-bottom: 0px!important;
    }
}

@media (max-height: 450px) and (min-height: 401px) {
    .modal-dialog {
        width: 583px!important;
        margin-top: 10px!important;
        margin-bottom: 0px!important;
    }
}