body {
	font-family: Bitter;
	color: #ffffff;
	/*gradient*/
    background: #000000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000000, #00098a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000, #00098a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000, #00098a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000, #00098a); /* Standard syntax */
}

h1 {
	
	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
	line-height: 140%;
	font-weight: bold;
	font-style: normal;
  	font-stretch: normal;
	margin: 0px;
	margin-bottom: 14px;
}
h3 {
	font-style: normal;
  	font-stretch: normal;
	line-height: 140%;	
}
p {
    margin: 14px 0 2px;
}
section {
	padding-left: 20px;
	padding-right: 20px;
}
.bold_true {
	font-weight: bold;
}
#sec-one {
	padding-top: 363px;
	padding-bottom: 363px;
}
#sec-one p {
	font-style: italic;
	font-size: 12px;
	margin-top: 200px;
	margin-bottom: 0px;
}
#sec-one img {
	margin-top: 25px;
	width: 72px;
}
#footertext {
	font-weight: bold;
	font-size: 12px;
	margin-top: 20px;
}
#footerlight {
	font-style: normal;
	font-size: 12px;
	margin-top: 1px; 
	margin-bottom: 30px;
}
.vert-border {
  border-style: dotted; 
  border-image-source: url('../../../assets/images/dots.svg');
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  border-width: 0 8px 0 0;
  margin: auto;
  width: 0px;
  opacity: 0.25;
}
.dot-border-uper {
  border-style: dotted; 
  border-image-source: url('../../../assets/images/dots.svg');
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  border-width: 8px 8px 0 8px;
  opacity: 0.25;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.dot-border-bottom {
  border-style: dotted; 
  border-image-source: url('../../../assets/images/dots.svg');
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  border-width: 0px 8px 8px 8px;
  opacity: 0.25;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 10px;
}
/*.div_type_1:after {
    content:"";
    border-style: dotted; 
  border-image-source: url('../../../assets/images/dots.svg');
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  border-width: 0 8px 0 0;
  /*border-image-width: 8px;*/
}

.nice-border {
  border-style: dotted; 
  border-image-source: url('../../../assets/images/dots.svg');
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  border-width: 0 8px 0 0;
  /*opacity: 0.25;*/
 }

#sec-two div:nth-child(1) .vert-border{
	  height: 242px;
}
#sec-two div:nth-child(2) .vert-border{
	  height: 224px;
}
#sec-two div:nth-child(3) .vert-border{
	  height: 120px;
}
#sec-two div:nth-child(5) .vert-border{
	  height: 120px;
}
#sec-two div:nth-child(5) .vert-border-second {
		height: 376px;
}
#sec-two div:nth-child(6) .vert-border{
	  height: 376px;
}
#sec-two div:nth-child(12) .vert-border{
	  height: 412px;
}
#sec-two div:nth-child(12) div:nth-child(1){
	  margin-top: 80px;
}

.vert-border-third {
    height: 10px;
    margin-top: 31px;
    margin-bottom: 31px;
}
#sec-two .vert-border-forth {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 540px !important;
}
.max-width-mid {
	max-width: 432px;
	margin: auto;
}
.max-widh-big {
	max-width: 700px;
	margin: auto;
}
.max-widh-big-mid {
	max-width: 570px;
	margin: auto;
}

.last .vert-border-first {
	height: 580px;
	margin-bottom: 20px;
	margin-top: 40px;
}
.last .vert-border-second {
	height: 120px;
	margin-top: 20px;
}
#sec-two {
	margin-top: 160px;
	margin-bottom: 220px;
}
.last-row a{
	font-style: normal;
  	font-stretch: normal;
	font-size: 36px;
	text-decoration: underline;
	color: white;
}

@media(max-width:767px){
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 14px;
	}
	.last-row a{
			font-size: 22px;
	}
}
@media(max-width:412px){
	.last-row a{
		font-size: 16px;
	}

}
@media(min-width:768px){
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 18px;
	}
	.last-row a{
			font-size: 28px;
	}
}
@media(min-width:992px){
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 22px;
	}

}
#scrollBottom {
	position: fixed;
	bottom: 10px;
	right: 10px;
	-webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
    -webkit-transition: visibility 0.5s; /* Safari */
    transition: visibility 0.5s;
}
#scrollBottom img {
	cursor: pointer;
	width: 60px;
}
.btn-disappear {
	opacity: 0;
	visibility: hidden;
}
